#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.btn {
  margin-left: 1rem;
}

label {
  margin: 1rem;
}

form {
  text-transform: capitalize;
}

input {
  width: 3rem;
  margin-bottom: 1.5rem;
  border: none;
  font-size: large;
  border-radius: 8px;
  height: 1.7rem;
  padding-left: 0.5rem;
  padding-right: 0.3rem;
}

.section-center {
  padding: 1rem;
  border: 6px solid #1a1a1a;
  width: 30vw;
  min-width: 20rem;
  border-radius: 15px;
}

h4 {
  padding: 0.5rem;
}

span {
  font-weight: bold;
}

a {
  color: #1a1a1a;
}

#github {
  text-decoration: none;
  color: white;
}
